.u-section-1 .u-sheet-1 {
  min-height: 376px;
}

.u-section-1 .u-group-1 {
  min-height: 354px;
  margin-top: 22px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 52px auto 0 10px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0 10px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 47px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 36px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 721px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 71px auto 0 64px;
}

.u-section-2 .u-list-1 {
  width: 874px;
  margin: 42px auto 60px;
}

.u-section-2 .u-repeater-1 {
  min-height: 390px;
  grid-template-columns: calc(33.3333% - 73.3333px) calc(33.3333% - 73.3333px) calc(33.3333% - 73.3333px);
  grid-gap: 110px 110px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 64px;
    margin-left: 33px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 49px;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
    width: NaNpx;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
    width: NaNpx;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
    width: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 32px;
  }

  .u-section-2 .u-list-1 {
    width: 656px;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 294px;
    grid-template-columns: calc(33.3333% - 49.3333px) calc(33.3333% - 49.3333px) calc(33.3333% - 49.3333px);
    grid-gap: 74px 74px;
    grid-auto-columns: calc(33.3333% - 49.3333px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 14px;
    margin-left: 25px;
  }

  .u-section-2 .u-list-1 {
    width: 490px;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 242px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 267px;
    grid-gap: 15px 15px;
    grid-auto-columns: calc(33.3333% - 10px);
    grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  }
}